<hr />
            <h2 class="mt-2 text-center">Add new Manga</h2>
            <hr />
            <div class="row justify-content-center mt-4 p-5">
              <div class="col-md-8 border-black">
                <form action="">
                  <div class="row justify-content-center">
                    <div class="col-md-3">
                      <label for="title">Title</label>
                    </div>
                    <div class="col-md-6">
                      <input
                        type="text"
                        placeholder="Title"
                        class="w-100"
                        id="title"
                      />
                    </div>
                  </div>
                  <div class="row justify-content-center mt-3">
                    <div class="col-md-3">
                      <label for="content">Content</label>
                    </div>
                    <div class="col-md-6">
                      <textarea
                        name="content"
                        placeholder="content"
                        style="resize: none"
                        class="w-100"
                        id="content"
                        cols="30"
                        rows="4"
                      ></textarea>
                    </div>
                  </div>
                  <div class="row justify-content-center mt-3">
                    <div class="col-md-3">
                      <label for="Author">Author Name</label>
                    </div>
                    <div class="col-md-6">
                      <input
                        type="text"
                        placeholder="Author Name"
                        class="w-100"
                        id="Author"
                      />
                    </div>
                  </div>
                  <div class="row justify-content-center mt-3">
                    <div class="col-md-3">
                      <label for="type">News Type</label>
                    </div>
                    <div class="col-md-6">
                      <input
                        type="text"
                        placeholder="News Type"
                        class="w-100"
                        id="type"
                      />
                    </div>
                  </div>
                  <div class="row justify-content-center mt-3">
                    <div class="col-md-3">
                      <label for="price">Price</label>
                    </div>
                    <div class="col-md-6">
                      <input
                      type="text"
                        name="price"
                        placeholder="price"
                        style="resize: none"
                        class="w-100"
                        id="price"

                      />
                    </div>
                  </div>
                  <div class="row justify-content-center mt-3">
                    <div class="col-md-3">
                      <label for="img">Manga Image</label>
                    </div>
                    <div class="col-md-6">
                      <input type="file" id="img" />
                    </div>
                  </div>
                  <div class="row justify-content-center mt-5">
                    <div class="col-md-6 text-center mt-2">
                      <button>Add</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
