<p>adminnav works!</p>
 <!-- navbar -->
 <div
 class="col-lg-2 justify-content-center border pt-1 bg-dark sidenav-height p-5"
>
 <nav class="nav-fill sidenav-height p-5 mt-5 text-center">
   <img src="../../../assets/images/demon.jpg" width="70px" height="70px" alt="" />
   <h2 class="text-white text-center" routerLink="/adminhome/dashboard">Mangaka</h2>
   <ul class="text-center mt-4 mr-5">
     <li class="mt-5 text-uppercase"><a routerLink="/adminhome/dashboard">Home</a></li>
     <li class="mt-5 text-uppercase"><a routerLink="/adminhome/admintypes">Types</a></li>
     <li class="mt-5 text-uppercase"><a routerLink="/adminhome/adminmanga">Mangas</a></li>
     <li class="mt-5 text-uppercase"><a routerLink="/adminhome/adminvendors">Vendors</a></li>
     <li class="mt-5 text-uppercase"><a routerLink="/adminhome/adminvendors">Logout</a></li>

    </ul>
 </nav>
</div>

